<div class="container">
  <div class="card shadow" style="border: none">
    <div class="card-header bg-primary-subtle d-flex align-items-center justify-content-between" style="border: none">
      <h3 class="card-title p-2 mb-0">Todo Progress Overview</h3>
    </div>
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [tooltip]="chartOptions.tooltip"
      [fill]="chartOptions.fill">
    </apx-chart>
  </div>

  